/*아직 정상작동중인 맥북 파일로 되돌리기 */
#responseText {
    padding: 10px; /* Add padding around the response text */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    background-color: #f9f9f9; /* Optional: Add a background color */
    border-radius: 5px; /* Optional: Add rounded corners */
}
body {
    background-color: #343232; /* 전체 배경 회색 */
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    width: 260px;
    overflow: hidden;
}
.slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.slide-box {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-box img {
    width: 260px;
    height: 260px;
    object-fit: cover;
}
.before-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.before-btn {
    left: 5px;
}
.next-btn {
    right: 5px;
}
